.logo {
  color: white;
  font-size: 1.8rem;
  font-family: 'Elven-header', 'serif';
}

.navbar_container {
  position: absolute;
  height: 60px;
  padding: 10px;
  width: 100vw;
  background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 93%;
  margin: 0 auto;
  overflow-y: visible;
}

.navmenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
}

.about,
.contact {
  margin-left: 30px;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 9.4rem;
  padding: 7px;
  line-height: 1.8;
  font-size: 1.15rem;
  background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
}

@media (min-width: 1700px) {
  .dropdown {
    right: 12rem;
  }
}

@media (min-width: 764px) {
  .dropdown {
    right: 10rem;
  }
}
