.logo a {
  font-size: 1.7rem;
  font-family: 'Elven-header', 'serif';
  padding-left: 10px;
}

.navbar {
  position: absolute;
  background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.navmenu {
  display: inline-flex;
  justify-content: space-between;
  min-width: 24%;
}

.navmenu li {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 1.15rem;
  letter-spacing: 0.11ch;
}

/* .navmenu li:hover {
} */

.dropdown {
  display: none;
}

.catalog:hover .dropdown {
  display: block;
  position: absolute;
}

.catalog:hover .dropdown ul {
  /* background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px); */
  background-image: url('../../../images/backgrounds-textures-etc/dropdown-bg.png');
  line-height: 1.3;
  margin: 4px;
  padding: 4px;
  margin-left: -17px;
  margin-top: 18px;
}

.catalog:hover .dropdown ul li {
  text-align: left;
}

/* .navmenu li a:hover .dropdown {
  display: block;
} */

/* .catalog:hover .dropdown ul a {
  color: red;
} */

/* .catalog:hover .dropdown {
  display: block;
  position: absolute;
  background: rgb(39, 39, 59);
  margin-top: 15px;
  margin-left: -15px;
} */

/*
.dropdown {
  position: absolute;
  padding: 7px;
  line-height: 1.8;
  font-size: 1.15rem;
  background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
} */
