.logo {
  margin: 4px;
}

.logo a {
  font-size: 1.7rem;
  font-family: 'Elven-header', 'serif';
  padding-left: 6px;
}

.nav_container {
  height: 60px;
  position: absolute;
  width: 100vw;
  background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.navbar {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.navmenu {
  display: inline-flex;
  justify-content: space-between;
  min-width: 24%;
}

.navmenu li {
  text-align: center;
  padding: 14.5px;
  font-size: 1.1rem;
  letter-spacing: 0.11ch;
  /* border: 1px solid red; */
}

.dropdown {
  display: none;
}

.catalog:hover .dropdown {
  display: block;
  position: absolute;
  background-color: rgba(23, 23, 58, 0.7);
  margin-top: 16px;
  margin-left: -16px;
}

.catalog:hover .dropdown li {
  text-align: left;
  padding: 3px;
  margin: 10px;
}
