.showcase_container {
  background-image: url(../../../images/backgrounds-textures-etc/showcase-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-color: rgb(11, 11, 34);
}

.showcase_intro_p {
  display: block;
  color: white;
  font-family: 'Elven-header', sans-serif;
  font-size: 1.4rem;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--blue);
  background-color: rgba(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* Grid Settings */
.grid_container {
  display: grid;
  grid-template-columns: repeat(1, 270px);
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 45px;
  column-gap: 60px;
  row-gap: 40px;
}

.div_item {
  background-image: url('../../../images/backgrounds-textures-etc/intro-p-bg-2.png');
  background-color: rgb(39, 39, 59);
  background-blend-mode: multiply;
  height: 480px;
  width: 270px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.div_item img {
  width: 260px;
  height: 260px;
  display: block;
  padding: 10px;
  margin: 0 auto;
  border-radius: 25px;
}

.div_item p {
  color: var(--blue);
  background-color: var(--grey);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  margin: 12px;
  padding: 3px;
  text-align: left;
  font-family: 'Elven-header', sans-serif;
  font-size: 1.14rem;
}

.div_item a {
  color: var(--blue);
  position: absolute;
  bottom: 20px;
  background-color: var(--grey);
  opacity: 0.6;
  backdrop-filter: blur(2px);
  border-radius: 4px;
  font-family: 'Elven-header', sans-serif;
  font-size: 1.35rem;
  text-align: center;
  padding: 9px;
  padding-bottom: 14px;
  padding-top: 5px;
}

/* .card {
  height: 430px;
  width: 430px;
  border-radius: 20px;
  background-color: var(--blue);
  position: absolute;
  left: 230px;
  top: 105px;
  background-color: var(--blue);
  background-color: rgb(23, 23, 58, 0.7);
  backdrop-filter: blur(2px);
} */

@media screen and (min-width: 650px) {
  .grid_container {
    grid-template-columns: repeat(2, 270px);
    row-gap: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .grid_container {
    grid-template-columns: repeat(4, 270px);
  }
}
