:root {
  /* colors */
  --blue: rgb(23, 23, 54);
  --grey: rgb(199, 200, 209);
}

@font-face {
  font-family: 'Elven-header';
  src: url(../fonts/Elven-header.ttf);
}

@font-face {
  font-family: 'Elven-common-speak';
  src: url(../fonts/HalfElvenItalicItalic-4O3l.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

h1 {
  font-family: 'Elven-header', 'serif';
}

a,
p {
  font-family: 'Elven-common-speak', 'serif';
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
